// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    padding-top: 64px;
    padding-bottom: 64px;
    background: #fff;

    .footer-links {
        a {
            &:hover {
                color: #080a0a;
            }
        }
    }
}