/**
 * Basic typography style for copy text
 */
.font-regular {font-family: $brand-font-regular;}
.font-medium{font-family:$brand-font-medium;}
.font-semibold{font-family:$brand-font-semibold;}
.font-bold{font-family:$brand-font-bold;}

//  .body-5 {
//     font-family: $brand-font-semibold!important;
//     font-size: 14px;
//     color: $neutral-n1;
//     margin-bottom: 12px;
//  }
 .body-3{
    font-family: $brand-font-light!important;
    font-size: 14px;
    line-height: 22px;
    
 }
//  .body-3{
//     font-family: $brand-font-medium!important;
//     font-size: 14px;
//     color: $neutral-n1;
//     margin-bottom: 8px;
//  }
//  .body-2{
//     font-family: $brand-font-semibold!important;
//     font-size: 16px;
//     color: $neutral-n1;
//     margin-bottom: 8px;
//  }

